.Notification-library-notification-dark{
    position: fixed;
    margin: 10px;
    display: flex;
    flex-direction: column;
    background-color: rgb(57, 58, 85);
    color: white;
    width: fit-content;
    box-sizing: border-box;
    min-height: 60px;
    border-radius: 5px;
    min-width: 250px;
    font-family: monospace;
    font-size: 20px;
    max-width: 350px;
    box-shadow: 3px 3px 3px grey;
    top: 0;
    left: -400px;
    user-select: none;
    cursor: pointer;
    transition: all 325ms;
}
.Notification-library-notification-light{
    position: fixed;
    margin: 10px;
    display: flex;
    flex-direction: column;
    background-color: rgb(252, 252, 252);
    color: black;
    width: fit-content;
    box-sizing: border-box;
    min-height: 60px;
    border-radius: 5px;
    min-width: 250px;
    font-family: monospace;
    font-size: 20px;
    max-width: 350px;
    box-shadow: 3px 3px 3px grey;
    top: 0;
    left: -400px;
    user-select: none;
    cursor: pointer;
    transition: all 325ms;
}

.Notification-library-content{
    display: flex;
}
.Notification-library-icon{
    width: 18%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.Notification-library-image{
    width: 30px;
}
.Notification-library-message{
    padding-top: 5px;
    padding-bottom: 5px;
    width: 82%;
}

.Notification-library-loader-normal{
    position: absolute;
    width: 100%;
    bottom: 0;
    background: linear-gradient(90deg, #16A085 , #F4D03F , rgb(255, 133, 133));
    height: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    animation-play-state: running;
}
.Notification-library-loader-success{
    position: absolute;
    width: 100%;
    bottom: 0;
    background: rgb(0, 255, 0);
    height: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    animation-play-state: running;
}
.Notification-library-loader-error{
    position: absolute;
    width: 100%;
    bottom: 0;
    background: red;
    height: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    animation-play-state: running;
}
.Notification-library-loader-alert{
    position: absolute;
    width: 100%;
    bottom: 0;
    background: yellow;
    height: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    animation-play-state: running;
}

.Notification-library-myid{
    position: relative;
    top: 0;
    left: 0;
    z-index: 100;
}

@keyframes show{
    0%{
        left: -400px;
        opacity: 0;
    }
    80%{
        left: 20px;
    }
    100%{
        left: 0px;
        opacity: 1;
    }
}

@keyframes hide{
    0%{
        left: 0px;
        opacity: 1;
    }
    20%{
        left: 20px;
    }
    100%{
        left: -400px;
        opacity: 0;
    }
}

@keyframes loader{
    from{
        width: 100%;
    }
    to{
        width: 0%;
    }
}

@media only screen and (max-width:550px){
.Notification-library-notification-dark{
min-width:0px;
width:100%;
margin-top: 5px;
margin-left: 0;
margin-right: 0;
}
.Notification-library-notification-light{
min-width:0px;
width:100%;
margin-top: 5px;
margin-left: 0;
margin-right: 0;
}
}
