.Notification-library-notification-dark {
    margin: 10px;
    display: flex;
    flex-direction: column;
    background-color: rgb(57, 58, 85);
    color: white;
    box-sizing: border-box;
    min-height: 60px;
    border-radius: 5px;
    min-width: 330px;
    font-family: monospace;
    font-size: 20px;
    max-width: 350px;
    box-shadow: 0px 0px 5px black;
    transform: translateX(-400px);
    user-select: none;
    cursor: pointer;
    transition: all 325ms;
}

.Notification-library-notification-light {
    margin: 10px;
    display: flex;
    flex-direction: column;
    background-color: rgb(252, 252, 252);
    color: black;
    box-sizing: border-box;
    min-height: 60px;
    border-radius: 5px;
    min-width: 330px;
    font-family: monospace;
    font-size: 20px;
    max-width: 350px;
    box-shadow: 0px 0px 5px black;
    transform: translateX(-400px);
    user-select: none;
    cursor: pointer;
    transition: all 325ms;
}

.Notification-library-content {
    position: absolute;
    display: flex;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.Notification-library-icon {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.Notification-library-close{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Notification-library-close>svg{
    stroke-width: 1px;
}

.Notification-library-image {
    width: 30px;
}

.Notification-library-message {
    padding-top: 5px;
    padding-bottom: 5px;
    width: 82%;
    display: flex;
    align-items: center;
}

.Notification-library-loader-normal {
    position: absolute;
    width: 100%;
    bottom: 0;
    background: linear-gradient(90deg,#47cf73,#ffdd40,#ae63e4,#0ebeff,#47cf73);
    height: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    animation-play-state: running;
}

.Notification-library-loader-success {
    position: absolute;
    width: 100%;
    bottom: 0;
    background: rgb(0, 255, 0);
    height: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    animation-play-state: running;
}

.Notification-library-loader-error {
    position: absolute;
    width: 100%;
    bottom: 0;
    background: red;
    height: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    animation-play-state: running;
}

.Notification-library-loader-alert {
    position: absolute;
    width: 100%;
    bottom: 0;
    background: yellow;
    height: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    animation-play-state: running;
}

.Notification-library-myid {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

@keyframes show {
    0% {
        transform: translateX(-400px);
        opacity: 0;
    }

    80% {
        transform: translateX(20px);
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes hide {
    0% {
        transform: translateX(0px);
        opacity: 1;
    }

    20% {
        transform: translateX(20px);
    }

    100% {
        transform: translateX(-400px);
        opacity: 0;
    }
}

@keyframes loader {
    from {
        width: 100%;
    }

    to {
        width: 0%;
    }
}

@media only screen and (max-width:550px) {
    .Notification-library-notification-dark {
        max-width: 100%;
        margin: 5px auto;
    }

    .Notification-library-notification-light {
        max-width: 100%;
        margin: 5px auto;
    }
    .Notification-library-myid{
        width: 100%;
    }
    .Notification-library-notification-container{
        width: 95%;
        margin: auto;
    }
}
